<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TanoaRPG_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TanoaRPG_Launcher.Properties.Settings>
            <setting name="a3path" serializeAs="String">
                <value />
            </setting>
            <setting name="parameters" serializeAs="String">
                <value />
            </setting>
            <setting name="ram" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vram" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpucores" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="profileid" serializeAs="String">
                <value>0</value>
            </setting>
        </TanoaRPG_Launcher.Properties.Settings>
    </userSettings>
</configuration>
